.box{
    background: linear-gradient(90deg, royalblue 60%, dodgerblue 40%);
}
.boxes{
    background: linear-gradient(90deg, green 60%, limegreen 40%);
}
.box_{
    background: linear-gradient(90deg, #519eba 90%, #0fb3ee 10%);
}
.bo_{
    background: linear-gradient(90deg, #e59e18 60%, orange 40%);
}
.b{
    background: linear-gradient(90deg, #ac5050 40%, #ea0000 60%);
}
.progress{
    width: 400px;
    position: relative;
}
.a1{
    position: absolute;
    right: 0;
}
.a2{
    position: absolute;
    right: 0;
}
.a3{
    position: absolute;
    right: 0;
}
.a4{
    position: absolute;
    right: 0;
}
.a5{
    position: absolute;
    right: 0;
}
